* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: gray;

}
header{
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
}
header *{
    color: white;
}
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
    border: 1px solid red;
}
header .logo-text {
    margin: 8px;
}
header ul {
    float: right;
}
header .menu-toggle{
    display: none;
}
